<div class="index">
  <div class="index-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center"><%= current_user.name %></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section" class="container">
  <h3><%= current_user.username %>'s friends:</h3>
  <% @friends.each do |friend| %>
    <p>
      <a href="/users/<%= friend.id %>"><%= friend.username %></a>
      <% if current_user %>
        <form action="/friends/<%= friend.id %>/delete" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete from friends">
        </form>
      <% end %>
    </p>
  <% end %>
</div>