
  <tr>
    <td><%= item.id %></td>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
    <td><%= item.price %></td>
    <td><a href="/categories/<%=params[:category_id]%>/items/<%= item.id %>">Edit Item</a></td>
  </tr>
