<div class="categories">
  <div class="index-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <% @category.each do |category_title| %>
            <h1 class="text-center"><%= category_title.title %></h1>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <br>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Item</th>
          <th>Description</th>
          <th>Price</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item_descripters| %>
        <tr>
          <td><%= item_descripters.id %></td>
          <td><%= item_descripters.name %></td>
          <td><%= item_descripters.description %></td>
          <td><%= item_descripters.price %></td>
          <td><a href="/categories/<%=params[:category_id]%>/items/<%= item_descripters.id %>">Edit Item</a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
      <form action="/categories/<%=params[:category_id]%>/items" method="post">
        <input type="text" name="name">
        <input type="text" name="description">
        <input type="text" name="price">
        <input type="submit">
      </form>
  </div>

</div>

