<% @category.each do |category_title| %>
<div id="page" class="<%= category_title.title.downcase %>">
  <% end %>
  <div class="index-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <% @category.each do |category_title| %>
          <h1 class="text-center"><%= category_title.title %></h1>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <br>
  <div id="display-items" class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Item</th>
          <th>Description</th>
          <th>Price</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody class="item-list">
        <%= erb :_item, layout: false, locals: {items: @items} %>
      </tbody>
    </table>
  </div>
  <div id="add-items"class="row">
    <h3>Add Item:</h3>
    <br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Item</th>
          <th>Description</th>
          <th>Price</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <form class="<%= params[:category_id] %>" action="/categories/<%=params[:category_id]%>/items" method="post">
          <tr>

            <td><input type="text" name="name" value=""></td>
            <td><input type="text" name="description" value=""></td>
            <td><input type="text" name="price" value=""></td>
            <td><input data-row="<%= params[:category_id] %>" type="submit" name="update" value="Create Item" class="btn btn-default add_item"></td>
          </tr>
        </form>
      </tbody>
    </table>
  </div>
</div>

